@charset "UTF-8";
/* _______ Media Query_______ */
@media (max-width: 991px) {
  h1 {
    padding: 50px;
    font-size: 20px; }
  h2 {
    display: none; }
  .animacionLogo {
    width: 50%;
    height: 50%; }
  .social {
    justify-content: center; } }

.nav-item:hover, .navbar-brand:hover {
  border: 1px transparent black;
  border-radius: 3px;
  text-transform: uppercase; }

/*      BOTONES del menu */
.nav-item:hover {
  background-color: #b1a591; }

/*      BOTON = vuelve al index    */
.navbar-brand:hover {
  background-color: darkgrey; }

h1 {
  display: flex;
  justify-content: center;
  color: darkgrey; }

h2 {
  display: flex;
  justify-content: center;
  color: darkgrey; }

header {
  background-image: url(../images/fondomadera.jpg);
  grid-area: auto;
  padding-top: 20px;
  /*________  LOGO _______*/ }
  header h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: darkgrey; }
  header h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: darkgrey; }
  header .animacionLogo {
    width: 80px;
    height: 80px;
    padding-left: 15px;
    transition: all 3s; }
  header .animacionLogo:hover {
    transform: scale(1.5) translateX(120px) rotate(360deg); }

/* _______ Media _______ */
@media (max-width: 991px) {
  h1 {
    font-size: 20px; }
  h2 {
    display: none; }
  .animacionLogo:hover {
    transform: none; } }

body {
  font-family: 'Nunito'; }

footer {
  background-color: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  /* ______________ ICONOS __________________ */ }
  footer .logo_footer {
    text-align: center;
    margin-top: 25px; }
  footer .copright {
    text-align: center;
    padding-top: 80px; }
  footer .social {
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    list-style: none; }
  footer .social li {
    padding-inline: 10px; }
  footer .socialIcons:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 2; }

/* ______ 1º INDEX _______________*/
main {
  background-repeat: no-repeat;
  background-position: cover; }
  main .card-text {
    text-align: justify;
    background-color: #faf8f5; }
  main .parrafo-principal {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px; }

/*__ 2º NOSOTROS _______________       */
.nosotros {
  height: 70vh;
  /* alto del navegador */
  display: grid;
  /* activa el GRID */
  grid-template-rows: repeat 2, 1fr;
  /* alt de cada area */
  grid-template-columns: repeat 3, 1fr;
  /* ancho de cada area */
  grid-template-areas: "header header header"
 "main main main"
 "footer footer footer";
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/*____ 3º - PRODUCTOS ______________ */
.card img {
  max-width: 100%;
  height: 240px;
  object-fit: cover; }

.card-link {
  width: max-content; }

h5 {
  font-weight: bold; }

 #total_compra {
  display:flex;
  justify-content: center;
  
}

#btn {
  background-color:rgb(228, 225, 225);
  display:flex;
  align-items: center;
  justify-content: center;
  
}

/*___ 4º - GALERIA _________________ */
.main-galeria1 {
  background-color: #0d1113; }

.fotos {
  background-color: #0d1113;
  padding: 2%; }

.card {
  border: 1px solid #070707; }

.img_galeria {
  transition: transform 1.5s ease-in-out; }

.img_galeria:hover {
  transform: scale(1.1); }

/* ___ 5º - CONTACTO _________________*/
.formulario {
  background-image: url(../images/iluminacion-para-habitaciones.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: beige; }

.fondoFooterContacto {
  background-image: url(../images/imgfootercontacto.jpg);
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
